$desktop-width: 800px;
$container-width: 1150px;

$secondary-color: rgb(126, 126, 126);

.categories{
    padding: 13px 0;
    display: flex;
    div {
        padding: 7px;
        border: 1px solid;
        border-radius: 5px;
        a{
            display: block;
            width: inherit;
            height: inherit;
        }
    }
}