$desktop-width: 800px;
$container-width: 1150px;

$secondary-color: rgb(126, 126, 126);

.games{
    color: rgb(173, 0, 0);
}
.films{
    color: rgb(0, 12, 175);
}
.others{
    color: rgb(115, 0, 150);
}